/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
* {
	margin: 0;
}


main > section:nth-child(1) {
	background-color: rgb(35, 35, 35);
	color: #eee;
	padding: 2em;
	
}

main > section:first-of-type > h2 {
	background-color: #eee;
	margin-top: 2em;
}

h2 {
	font-family:Verdana, Geneva, Tahoma, sans-serif; 
	font-style: italic;
	padding: 0.5em;
	margin: 1em;
	color: black;
}

.container section {
	position: absolute;
	top: 70%;
	left: 10%;
}

main > section:first-of-type > p:nth-of-type(3) {
	margin-top: 1em;
}

.container {
	margin-top: 1em;
}

/*grid*/

.grid ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1em;
}

.grid ul img {
	height: 10em;
	width: 9em;
}

.grid ul li {
	list-style: none;
}

.grid ul li a {
    color: black;
    text-decoration: none;
}

h3 {
	font-size: small;
}

.grid p {
	font-size: smaller;
}

.container p:first-of-type {
	position: absolute;
	top: 13em;
	left: 2%;
}

.container p:nth-of-type(2) {
	position: absolute;
	top: 27em;
	font-size: xx-small;
}

main > section:first-of-type {
	text-align: center;
}

h3 {
 font-size: larger;

}

.converse h3 {
	text-align: center;
	font-size: x-large;
}

.converse p {
	text-align: center;
}

.converse button {
	padding: 1em 2em 1em 2em;
	margin-left: 35%;

}

.converse img {
 	width: 23em;
	margin: 0.2em;

}

.container img {
	width: 100%;
}

section:nth-of-type(5) > h2 {
	font-style: normal;
	font-size: medium;
	text-align: center;
}

section:nth-of-type(5) > ul {
	list-style: none;
}

section:nth-of-type(5) > ul > li {
	margin-top: 1em;
}

section:nth-of-type(5) hr {
	width: 10em;
}


/*responsive*/

@media screen and (min-width: 38em) {
    .grid {
        display: flex; 
        justify-content: center; 
        flex-wrap: wrap; /* Laat de items naar de volgende regel gaan als ze niet meer passen */
    }
    .grid ul {
        display: flex; 
        flex-wrap: wrap; /* Laat de afbeeldingen naar de volgende regel gaan als ze niet meer passen */
        justify-content: center; 
        list-style: none;
    }
    .grid ul li {
        margin: 0.5em; 
    }

 }

 /* bron: (Flex-Wrap - CSS: Cascading Style Sheets | MDN, 2023) */



/*plaatje niet laten zien op klein scherm*/
.container img:nth-of-type(2) {
	display: none;
}

@media screen and (min-width: 38em) {
	.container img:first-of-type {
		display: none;
	}

	.container img:nth-of-type(2) {
		display: block;
	}
}

/*tekst weghalen bij een groter scherm*/

@media screen and (min-width: 38em) {
	.container p:first-of-type {
		display: none;
	}

	.container p:nth-of-type(2) {
		display: none;
	}

	.container h2:first-of-type {
		display: none;
	}
}

/*plaatje toevoegen naast converse*/

/*onderdelen niet laten zien op klein scherm*/
.converse img:nth-of-type(2) {
	display: none;
}

.converse h3:nth-of-type(2) {
	display: none;
}

.converse p:nth-of-type(2) {
	display: none;
}

.converse button:nth-of-type(2) {
	display: none;
}

/*onderdelen toevoegen*/ 

@media screen and (min-width: 38em) {
	.converse img:nth-of-type(2) {
		display: block;
	}

	.converse h3:nth-of-type(2) {
		display: block;
	}
	
	.converse p:nth-of-type(2) {
		display: block;
	}

	.converse button:nth-of-type(2) {
		display: block;
	}
}

@media screen and (min-width: 38em) {
	.converse {
		display: grid;
		grid-template-columns: max-content max-content;
		grid-template-rows: max-content max-content max-content max-content;
	}

	.converse img:first-of-type {
		grid-column-start: 1;
        grid-row-start: 1;
		margin-left: 9em;
	}

	.converse h3:first-of-type {
		grid-column-start: 1;
        grid-row-start: 2;
		margin-left: 5em;
	}

	.converse p:first-of-type {
		grid-column-start: 1;
		grid-row-start: 3;
		margin-left: 7em;
	}

	.converse button:first-of-type {
		grid-column-start: 1;
        grid-row-start: 4;
		margin-left: 20em;
		margin-right: auto;
	}

	.converse img:nth-of-type(2) {
		grid-column-start: 2;
        grid-row-start: 1;
		margin-left: 6em;
	}

	.converse h3:nth-of-type(2) {
		grid-column-start: 2;
        grid-row-start: 2;
		margin-left: 4em;
	}

	.converse p:nth-of-type(2) {
		grid-column-start: 2;
		grid-row-start: 3;
		margin-left: 5em;
	}

	.converse button:nth-of-type(2) {
		grid-column-start: 2;
        grid-row-start: 4;
		margin-right: 10em;
		margin-left: auto;
	}
	

}


