/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
    box-sizing:border-box;  
  }
  
  
  /*********************/
  /* CUSTOM PROPERTIES */
  /*********************/
  :root {
      /* startje */
      --color-text:#111;
      --color-background:#eee;
  }
  
  /****************/
  /* JOUW STYLING */
  /****************/
  
  /* jouw code */
  * {
      margin: 0;
  }
  

/* eerste section  */

div > section:first-of-type img {
	width: 24em;
	background-color: #eee !important;
    margin-top: 2em;

}

.aantalbewaard{
	width: 50%;
}

section:nth-of-type(1) {
	background-color: #ffffff !important;

}


section:nth-of-type(1) img:nth-of-type(2) {
	width: 25%;
    position: absolute;
	top: 60%;
	left: 75%;
}


section:nth-of-type(1) h3 {
	color: black;
    font-family: 'Franklin Gothic Medium';
    margin-left: 5%;
}

section:nth-of-type(1) h4 {
	color: black;
    font-family: 'Franklin Gothic Medium';
    margin-top: 5%;
    margin-left: 5%;

}

section:nth-of-type(1) img:nth-of-type(3) {
    width: 2em;
    margin-left: 21em;
}

.flex {
    display: flex;
}

/* banner */

section:nth-of-type(2) img { 
    width: 24em;
}

/* derde section */

section:nth-of-type(3) p {
    margin-left: 1em;
}

section:nth-of-type(3) p:nth-of-type(3) {
    margin-left: 19em;
    text-decoration: underline;
}

.derde p:nth-of-type(2){
    margin-top: 1em;
}

/* vierde section */

section:nth-of-type(4) button:nth-of-type(1) {
    width: 25em;
    padding: 1em 20em 1em 0em;
    margin: 1em;
}

section:nth-of-type(5) button:nth-of-type(1) {
    width: 18em;
    padding: 1em 1em 1em 1em ;
    margin-left: 1em;
    margin-top: 0em;
    margin-bottom: 1em;
    background-color: rgb(59, 134, 79);
    border: transparent;
    color: #eee;
}

/* vijfde section*/

section:nth-of-type(5) {
    display: flex;
}


section:nth-of-type(5) img:nth-of-type(1) {
    width: 3em;
    margin-left: 3em;
    margin-bottom: 1em;

}

/*details zesde section */

details {
    margin-left: 1em;
    padding: 0.5em;
}

hr {
    border: none;
    border-top: 1px solid rgb(182, 171, 171); 
}

/*grid*/

h2 {
    margin-left: 1.5em;
}

.grid ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1em;
}

.grid ul img {
	height: 10em;
	width: 9em;
}

.grid ul li {
	list-style: none;
}

.grid ul li a {
    color: black;
    text-decoration: none;
}

/*animatie*/

nav > ul > li > span {
    position: absolute;
    top: 8%; 
    right: 11%; 
    background-color: red;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    display: none;
    padding: 0;
}

/* responsive grid */

@media screen and (min-width: 38em) {
    div.dezemocht {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr max-content max-content max-content max-content;

    }

    .eerste {
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: -1;
    }
    section:nth-of-type(1) img:nth-of-type(2) {
        width: 10%;
        position: absolute;
        top: 60%;
        left: 22%;
    }
    .tweede {
        display: none;
    }
    
    .derde {
        grid-column-start: 2;
        grid-row-start: 2;
    }

    .vierde {
        grid-column-start: 2;
        grid-row-start: 3;
    }

    .vijfde {
        grid-column-start: 2;
        grid-row-start: 4;
    }

    .zesde {
        grid-column-start: 2;
        grid-row-start: 5;
    }
}

 
 @media screen and (min-width: 38em) {
    h2 {
        margin-left: 11em;
    }
    .grid {
        display: flex; 
        justify-content: center; 
        flex-wrap: wrap; 
    }
    .grid ul {
        display: flex; 
        flex-wrap: wrap; 
        justify-content: center; 
        list-style: none;
    }
    .grid ul li {
        margin: 0.5em; 
    }
}