/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
* {
	margin: 0;
}


main > section:nth-child(1) {
	background-color: rgb(35, 35, 35);
	color: #eee;
	padding: 2em;
	
}

main > section:first-of-type > h2 {
	background-color: #eee;
	margin-top: 2em;
}

h2 {
	font-family:Verdana, Geneva, Tahoma, sans-serif; 
	font-style: italic;
	padding: 0.5em;
	margin: 1em;
	color: black;
}

.container section {
	position: absolute;
	top: 70%;
	left: 10%;
}

/*grid*/

.grid ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1em;
}

.grid ul img {
	height: 10em;
	width: 9em;
}

.grid ul li {
	list-style: none;
}

.grid ul li a {
    color: black;
    text-decoration: none;
}

h3 {
	font-size: small;
}

.grid p {
	font-size: smaller;
}

.container p:first-of-type {
	position: absolute;
	top: auto;
	left: 2%;
}

.container p:nth-of-type(2) {
	position: absolute;
	top: 200%;
	left: 2%;
	font-size: xx-small;
}

main > section:first-of-type {
	text-align: center;
}

h3 {
 font-size: larger;

}

.converse h3 {
	text-align: center;
	font-size: x-large;
}

.converse p {
	text-align: center;
}

.converse button {
	padding: 1em 2em 1em 2em;
	margin-left: 35%;

}

.converse img {
 	width: 23em;
	margin: 0.2em;

}

.container img {
	width: 100%;
}

section:nth-of-type(5) > h2 {
	font-style: normal;
	font-size: medium;
	text-align: center;
}

@media screen and (min-width: 38em) {
    .grid {
        display: block;
    }
    .grid ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
    }

 }

/*responsive*/

.container img:nth-of-type(2) {
	display: none;
}

@media screen and (min-width: 38em) {
	.container img:first-of-type {
		display: none;
	}

	.container img:nth-of-type(2) {
		display: block;
	}
}